{% extends 'base.html' %}

{% block title %}
Авторизація адміністратора
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4" style="width: 420px; border-radius: 15px;">

        {% if error %}
        <div class="alert alert-danger text-center py-2">
          {{ error }}
        </div>
        {% endif %}
        <h2 class="text-center mb-4">Вхід адміністратора</h2>

        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Пароль</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Увійти</button>
        </form>

    </div>
</div>
{% endblock %}
